@{
    var errors = new List<string>();

    if (ViewData["Errors"] != null)

        errors = (List<string>)ViewData["Errors"];

    bool hasError = errors.Count > 0;
}

@if (ViewData["Message"] != null || hasError)

{
    <div class="border @((bool)ViewData["IsSuccess"]==false?"border-danger text-danger":"border-success text-success")">
        <h6>@ViewData["Message"]</h6>
        @if (hasError)
        {
            <ul>
                @foreach (var error in errors)

                {
                    <li>@error</li>
                }
            </ul>
        }
    </div>
}