@page "/roles"
@using CodeBlock.DevKit.Authorization.UI.Pages.Roles

<PageTitle>@Localizer[BlazorServerAppResource.Nav_Menu_Roles]</PageTitle>

<h1>@Localizer[BlazorServerAppResource.Nav_Menu_Roles]</h1>


<RolesList />


@code {

}
