@page "/users"
@using CodeBlock.DevKit.Authorization.UI.Pages.Users

<PageTitle>@AppLocalizer[BlazorServerAppResource.Nav_Menu_Users]</PageTitle>

<h1>@AppLocalizer[BlazorServerAppResource.Nav_Menu_Users]</h1>

<UsersList />


@code {

}
