@page "/login"
@model CodeBlock.DevKit.Authorization.UI.Pages.Account.LoginModel
@{
    ViewData["Title"] = "ورود";
    Layout = "_Layout";
}

<div class="card bg-form text-white-50 shadow mb-5 min-height-20rem width-xs-90 width-sm-40 width-md-40">
    <div class="card-header h2 p-3">ابتدا وارد پروفایلت شو!</div>
    <div class="card-body p-3">
        <form method="post">

            <partial name="_ServerValidationSummary" />

            @Html.AntiForgeryToken()

            <div class="form-group p-2">
                <input asp-for="VerifyUserPasswordRequest.Email" class="form-control" placeholder="ایمیل یا موبایل" />
                <span asp-validation-for="VerifyUserPasswordRequest.Email" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input asp-for="VerifyUserPasswordRequest.Password" class="form-control" placeholder="پسورد" />
                <span asp-validation-for="VerifyUserPasswordRequest.Password" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <button id="loginBtn" type="submit" class="btn btn-success">ورود به پروفایل</button>
                <a class="btn btn-outline-primary" href="/register">هنوز پروفایل ندارم!</a>
            </div>
        </form>
    </div>
    <div class="card-footer text-secondary fw-light">
        <small><i class="bi bi-info-circle-fill"></i> بعد از ورود میتونی پیج جدید بسازی یا پیجت رو مدیریت کنی</small>
    </div>
</div>
