@model string
@using CodeBlock.DevKit.Web.Localization
@using Microsoft.AspNetCore.Http.Extensions;
@inject LocalizationSettings LocalizationSettings
@{
    string BtnClass = Model ?? "btn btn-outline-primary";
}
<div id="select-language" class="btn-group">
    <button type="button" class="@BtnClass dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        @LocalizationSettings.GetCurrentLanguageName()
    </button>
    <ul class="dropdown-menu">
        @foreach (var item in LocalizationSettings.Languages)
        {
            var setCultureUrl = $"/setculture?lang={item.Code}&returnUrl={Context.Request.GetEncodedPathAndQuery()}";

            <li><a class="dropdown-item" href="@setCultureUrl">@item.Name</a></li>
        }
    </ul>
</div>

