@font-face {
    font-family: Vazir;
    src: url("/_content/CodeBlock.DevKit.Web.Blazor.Server/fonts/persian/Vazir.woff") format("woff"),url("/_content/CodeBlock.DevKit.Web.Blazor.Server/fonts/persian/Vazir.woff2") format("woff2");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("/_content/CodeBlock.DevKit.Web.Blazor.Server/fonts/english/Roboto-Regular.woff") format("woff"),url("/_content/CodeBlock.DevKit.Web.Blazor.Server/fonts/english/Roboto-Regular.woff2") format("woff2");
}

.form-control {
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
    color: #212529 !important;
}

html, body {
    font-family: Roboto-Regular;
}

#side-nave a {
    color: #f1f0f0 !important;
}

.bg-primary {
    background-color: #352AEC !important;
}

.page-item span {
    cursor: pointer !important;
}

.page-item span {
    cursor: pointer !important;
}
