@page "/"
@namespace BlazorServerApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CodeBlock.DevKit.Web.Blazor.Server.Components
@using CodeBlock.DevKit.Web.Localization
@using Microsoft.AspNetCore.Components.Web
@inject LocalizationSettings LocalizationSettings

@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="@LocalizationSettings.GetLanguageDirection(Thread.CurrentThread.CurrentCulture.Name)" lang="@Thread.CurrentThread.CurrentCulture.Name" style="font-family: @LocalizationSettings.GetFont(Thread.CurrentThread.CurrentCulture.Name) !important">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <base href="~/" />
    <link href="css/spa.min.css" rel="stylesheet" asp-append-version="true" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body style="font-family: @LocalizationSettings.GetFont(Thread.CurrentThread.CurrentCulture.Name) !important">

    <div class="spinner-loading"></div>

    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <component type="typeof(ConnectionState)" render-mode="ServerPrerendered" />

    <script src="js/spa.min.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>