@using CodeBlock.DevKit.Authorization.UseCases.Roles.GetRoles

<table class="table table-striped table-hover mt-3">
    <thead>
        <tr>
            <th scope="col">@AuthorizationLocalizer[AuthorizationResource.Role_Name]</th>
            <th scope="col">@AuthorizationLocalizer[AuthorizationResource.Role_Users_Count]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.UsersCount</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private IEnumerable<GetRoleDto> Model = new List<GetRoleDto>();

    protected override async Task OnInitializedAsync()
    {
        await GetRoles();
    }

    private async Task GetRoles()
    {
        var result = await Bus.SendQuery(new GetRolesRequest());
        result.ShowErrorToast(ToastService);

        if (result.IsSuccess)
            Model = result.Value;
    }
}