@using CodeBlock.DevKit.Authorization.UseCases.Users.GetUsers

<table class="table table-striped table-hover mt-3">
    <thead>
        <tr>
            <th scope="col">@AuthorizationLocalizer[AuthorizationResource.User_Email]</th>
            <th scope="col">@AuthorizationLocalizer[AuthorizationResource.User_Roles]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Email</td>
                <td>@string.Join('-', item.Roles.ToArray())</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private IEnumerable<GetUserDto> Model = new List<GetUserDto>();

    protected override async Task OnInitializedAsync()
    {
        await GetUsers();
    }

    private async Task GetUsers()
    {
        var result = await Bus.SendQuery(new GetUsersRequest());
        result.ShowErrorToast(ToastService);

        if (result.IsSuccess)
            Model = result.Value;
    }
}